/*
** CATALOG
*/
.catalog{
  padding: 3.8% 12.6%;
  text-align: center;
  font-size: 21px;

  p{
    line-height: 1.3;
    & + p{
      margin-top: 1.5em;
    }
  }

  .link{
    color: #cc1f3c;
    border-bottom: 1px solid #cc1f3c;
    transition: .3s;
    cursor: pointer;
    &:hover{
      border-color: transparent;
    }
  }
}

@media (max-width: 1024px) {
  .catalog{
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .catalog{
    font-size: 14px;
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (max-width: 480px) {
  .catalog{
    padding-left: 4%;
    padding-right: 4%;
  }
}
/*
** END CATALOG
*/