/*
** CONTACTS
*/
.contacts{
  padding: 3.8% 2.5%;

  strong{
    font-family: proximanova_semibold, sans-serif;
  }
}

.contacts_list{
  margin-top: 40px;
}

.contacts_item{
  float: left;
  width: 50%;
}

.contacts_img_block{
  float: left;
  width: 40%;
  padding: 20px 0;
}

.contacts_img{
  display: inline-block;
  max-width: 100%;
}

.contacts_text_block{
  float: left;
  width: 60%;
  font-size: 24px;
  padding: 9.3% 0 0 20px;

  p{
    line-height: 1.4;
    & + p{
      margin-top: 1em;
    }
  }

  a{
    color: #0d0d0d;
    transition: .3s;
    border-bottom: 1px solid transparent;
    &:hover{
      border-bottom: 1px solid #0d0d0d;
    }
  }
}

@media (max-width: 1280px) {
  .contacts_img_block{
    width: 30%;
  }

  .contacts_text_block{
    width: 70%;
    padding-top: 8%;
    font-size: 20px;

    p{
      line-height: 1.2;
      & + p{
        margin-top: 0.8em;
      }
    }
  }

  .contacts_list{
    margin-top: 20px;
  }
}

@media (max-width: 1024px) {
  .contacts_text_block{
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .contacts_list{
    margin-top: 0;
  }
}

@media (max-width: 700px) {
  .contacts_item{
    width: 100%;
  }

}
/*
** END CONTACTS
*/