/*
** PARTNERS
*/
.partners{
  text-align: center;
  padding: 3.8% 0;
}

.partners_list{
  display: flex;
}

.partners_item{
  float: left;
  width: 20%;
  padding: 0 20px;
  margin: auto;
}

.partners_img{
  display: inline-block;
  max-width: 100%;
}

@media (max-width: 1024px) {
  .partners_item{
    padding: 0 10px;
  }
}

@media (max-width: 480px) {
  .partners_item{
    padding: 0 5px;
  }
}
/*
** END PARTNERS
*/