/*
** PARTNERS
*/
.partners{
  text-align: center;
  color: #0b0b0b;
  padding: 60px 0;
}

.partners_title{
  font-size: 30px;
  font-family: proximanova_bold, sans-serif;
  text-transform: uppercase;
  margin-bottom: 1.5em;
}

.partners_list{
  display: flex;
}

.partners_item{
  float: left;
  width: 20%;
  padding: 0 20px;
  margin: auto;
}

.partners_img{
  display: inline-block;
  max-width: 100%;
}
/*
** END PARTNERS
*/